__pycache__/
*.py[cod]
*.pyo

.venv/
.env/

.env
.envrc
!.envrc-example

*.egg-info/
dist/
build/

poetry.lock

*.log
*.tmp
*.swp
*.swo

.vscode/
.idea/
*.iml

.DS_Store

*.tar
*.log

*.pytest_cache/
.cache/

.mypy_cache/

htmlcov/
